.highlight .hll { background-color: #ffc; }
.highlight .c { color: #999; }
/* (syntax highlighting rules copied from poole/hyde) */
.highlight .k { color: #069; }
.highlight .o { color: #555; }
.highlight .m { color: #f60; }
.highlight .s { color: #d44950; }
.highlight .na { color: #4f9fcf; }
.highlight .nb { color: #366; }
.highlight .nc { color: #0a8; }
.highlight .nt { color: #2f6f9f; }
.highlight .nv { color: #033; }
/* ... (remaining syntax css) */
