---
layout: default
---

<div class="masthead">
  <div class="container">
    <h1 class="masthead-title"><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
    {% if site.description %}<p class="lead">{{ site.description }}</p>{% endif %}
  </div>
</div>

<div class="container">
  <div class="posts">
    {% for post in site.posts %}
      <article class="post">
        <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <span class="post-date">{{ post.date | date_to_string }}</span>
        <div class="post-excerpt">{{ post.excerpt }}</div>
      </article>
    {% endfor %}
  </div>
</div>
